<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/styles_login.css">
    <link rel="icon" href="static/icon.png" type="image/png">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Password"><br><br>
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="/static/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>
